<div>
    {% for room in rooms %}
        <div>
            {% if request.user == room.host %}
                <a href="{% url 'update-room' room.id %}">Edit</a><br>
                <a href="{% url 'delete-room' room.id %}">Delete</a><br>
            {% endif %}
            <span><a href="{% url 'user-profile' room.host.id %}">@{{room.host.username}}</a></span>

            <h1>{{room.id}} -- <a href="{% url 'room' room.id %}">{{room.name}}</a></h1>
            <small>{{room.topic.name}}</small>
            <hr>
        </div>
    {% endfor %}
</div>